<!DOCTYPE>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <script src="/js_ext/jquery.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/page_index.js"></script>

    <link rel="stylesheet" href="/css/base.css" type="text/css" />
  </head>

  <body>
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    body
    <a href="#">link</a>

    <table>
      <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table>
  </body>
</html>
