    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    body x=<%= x %>
    <a href="#">link</a>

    <table>
      <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table>

    <div style="
      border: solid 0.1rem #ddd;
      padding: 1rem;
    ">
      <div class="loading"></div>
    </div>

    <div id="tree_builder_container"></div>

    <script src="/js/page_index.js"></script>
